<div class="row">
    <div [ngClass]="showSideBar ? 'col-8' : 'col-12'" class="col-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        Produtos
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let prestadorServico of productList">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">{{prestadorServico.usuario.nome}}</h4>
                                <a class="btn btn-primary" (click)="addCart(prestadorServico)">Editar</a>
                                <a class="btn btn-danger mx-2">Delete</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
