<div class="row">
    <div [ngClass]="carrinho || finalizarCompra ? 'col-8' : 'col-12'" class="col-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        Produtos
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let product of productList">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">{{product.descricao}}</h4>
                                <a class="btn btn-success" (click)="addCart(product)">+ Carrinho</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
