<div class="row">
    <div [ngClass]="showSideBar ? 'col-8' : 'col-12'" class="col-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        Lista de Serviços
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="onCreate()">Novo</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let tipoServico of tipoServicoList">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">{{tipoServico.nomeEspecialidade}}</h4>
                                <a class="btn btn-primary" (click)="onEditing(tipoServico)">Editar</a>
                                <a class="btn btn-danger mx-2" (click)="onDelete(tipoServico.idEspecialidade)">Apagar</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="showSideBar">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        {{this.titleSideBar}}
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-danger" (click)="closeSideBar()">Fechar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Nome do Serviço</label>
                        <input type="text" [(ngModel)]="tipoServicoObj.nomeEspecialidade" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Valor do Serviço</label>
                        <input type="number" [(ngModel)]="tipoServicoObj.valor" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-success" (click)="onSave(tipoServicoObj)" *ngIf="!this.editing">Criar</button>
                            <button class="btn btn-success" (click)="onEdit(tipoServicoObj)" *ngIf="this.editing">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
